# Rent Prediction Application For Egean Area

In [2]:
import os
import numpy as np
import pandas as pd

In [ ]:
# to gain information about python function
dir(pd)
help(pd.read_csv)
pd.read_csv('hepsiemlak/01.csv')
df = pd.read_csv('hepsiemlak/01.csv')
print(df)
dir(df)
print(df.info())
dir(os)
os.listdir('hepsiemlak')

files = os.listdir('hepsiemlak')
for file in sorted(files):
    # print(file)
    # df = pd.read_csv('hepsiemlak/' + file)
    df = pd.read_csv(f"hepsiemlak/{file}")

In [8]:
def drop_columns(df, cols):
    """
    This function removes the columns from a DataFrame.
    """
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata olu≈ütu: {e}")

In [7]:
files = os.listdir('hepsiemlak')
df = pd.concat([pd.read_csv(f"hepsiemlak/{file}") for file in files], ignore_index=True)

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        8136 non-null   object
 1   photo-count          8130 non-null   float64
 2   list-view-price      8136 non-null   object
 3   list-view-date       8136 non-null   object
 4   left                 8114 non-null   object
 5   celly                8136 non-null   object
 6   celly 2              8136 non-null   object
 7   celly 3              8136 non-null   object
 8   celly 4              6858 non-null   object
 9   list-view-location   8136 non-null   object
 10  img-wrp href         4555 non-null   object
 11  he-lazy-image src    7649 non-null   object
 12  he-lazy-image src 2  4067 non-null   object
 13  list-view-header     8129 non-null   object
 14  branded__text        134 non-null    object
 15  branded__text 2      134 non-null    object
 16  img-wrp href 2       133 non-null    object
 17  he-lazy-image src 3  116 non-null    object
dtypes: float64(1), object(17)
memory usage: 1.1+ MB
None

In [10]:
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'left', 'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-location',
       'img-wrp href', 'he-lazy-image src', 'he-lazy-image src 2',
       'list-view-header', 'branded__text', 'branded__text 2',
       'img-wrp href 2', 'he-lazy-image src 3'],
      dtype='object')

In [11]:
cols = ['photo-count', 'list-view-date', 'list-view-header', 'list-view-location', 'he-lazy-image src', 'left', 'img-wrp href', 'he-lazy-image src 2', 'branded__text', 'branded__text 2', 'img-wrp href 2', 'he-lazy-image src 3']
drop_columns(df, cols)

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    8136 non-null   object
 1   list-view-price  8136 non-null   object
 2   celly            8136 non-null   object
 3   celly 2          8136 non-null   object
 4   celly 3          8136 non-null   object
 5   celly 4          6858 non-null   object
dtypes: object(6)
memory usage: 381.5+ KB
None

In [13]:
df['location'] = df['img-link href'].apply(lambda x: x.split('/')[3])
df['city'] = df['location'].str.split('-').str[0]
df['district'] = df['location'].str.split('-').str[1]
df['neighborhood'] = df['location'].str.split('-').str[2:-1]
df['neighborhood'] = df['neighborhood'].apply(lambda x: '_'.join(x))

In [14]:
drop_columns(df, ['location', 'img-link href'])

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly            8136 non-null   object
 2   celly 2          8136 non-null   object
 3   celly 3          8136 non-null   object
 4   celly 4          6858 non-null   object
 5   city             8136 non-null   object
 6   district         8136 non-null   object
 7   neighborhood     8136 non-null   object
dtypes: object(8)
memory usage: 508.6+ KB
None

In [16]:
print(df[['city', 'district', 'neighborhood']].sample(50))

                city      district          neighborhood
1275           izmir     kemalpasa  yukarikizilca_merkez
648            izmir       menemen           yesil_pinar
5957           mugla        bodrum              akyarlar
1323           izmir     karsiyaka               atakent
3690          manisa       akhisar                  pasa
3878          manisa    sehzadeler           yarhasanlar
7932           mugla        bodrum                 geris
2774           izmir          buca             kurucesme
3510           izmir       bornova               kizilay
6706           mugla       mentese               yenikoy
7145           mugla      koycegiz            dogusbelen
7600           mugla        bodrum                gumbet
4778           aydin      kusadasi       kadinlar_denizi
7822           mugla       fethiye              incirkoy
1503           izmir         cesme                 ardic
1018           izmir         konak              alsancak
2501           izmir       bornova                evka_4
4017  afyonkarahisar        merkez            dumlupinar
679            izmir   seferihisar               ataturk
746            izmir          buca                camlik
6245           mugla        bodrum               konacik
4763           aydin      kusadasi          degirmendere
3175           izmir       balcova            cetin_emec
3112           izmir      gaziemir                 sevgi
3564           izmir      gaziemir                 yesil
5458         denizli  merkezefendi              semikler
989            izmir    karabaglar          basin_sitesi
1774           izmir         cesme               alacati
4526           aydin      kusadasi          bayraklidede
5094         denizli  merkezefendi              semikler
3892         kutahya        merkez             yunusemre
3425           izmir         konak                kultur
1397           izmir         cesme               alacati
4886         denizli  merkezefendi              sevindik
4873         denizli     pamukkale               bagbasi
4626           aydin        efeler                zeybek
6349           mugla         milas                 becin
5480         denizli     pamukkale             mehmetcik
3568           izmir         cesme                dalyan
2612           izmir         konak              barbaros
1499           izmir          urla              guvendik
1344           izmir   seferihisar            cumhuriyet
2764           izmir        selcuk              14_mayis
2813           izmir     kemalpasa      armutlu_hurriyet
7431           mugla      koycegiz               ulucami
2829           izmir          urla                iskele
6388           mugla        bodrum              mumcular
4983         denizli        cameli                  yeni
7962           mugla      marmaris                turgut
3128           izmir         cesme               alacati

In [17]:
print(df.columns)

Index(['list-view-price', 'celly', 'celly 2', 'celly 3', 'celly 4', 'city',
       'district', 'neighborhood'],
      dtype='object')

In [18]:
print(df['celly'].unique())

['1 +\n                        1' '3 +\n                        1'
 '2 +\n                        1' '4 +\n                        1'
 '4 +\n                        2' '5 +\n                        1'
 '6 +\n                        1' '7 +\n                        1'
 '21 +\n                        1' '6 +\n                        2'
 '5 +\n                        2' 'St√ºdyo'
 '7 +\n                        2' '3 +\n                        2'
 '2 +\n                        0' '6 +\n                        0'
 '9 +\n                        4' '9 +\n                        1'
 '3 +\n                        0' '1 +\n                        15'
 '2 +\n                        2' '8 +\n                        1'
 '41 +\n                        4' '4 +\n                        0'
 '1 +\n                        25' '4 +\n                        4'
 '3 +\n                        4' '1 +\n                        2'
 '3 +\n                        3' '31 +\n                        1'
 '4 +\n                        3' '9 +\n                        5'
 '8 +\n                        4' '4 +\n                        5'
 '9 +\n                        3' '25 +\n                        5'
 '8 +\n                        0' '9 +\n                        9'
 '14 +\n                        6' '10 +\n                        1']

In [19]:
df['celly'] = df['celly'].apply(lambda x: x.replace('St√ºdyo', '1 + 0'))
df['celly'] = df['celly'].apply(lambda x: x.replace('\n', ''))
df['room'] = df['celly'].apply(lambda x: x.split('+')[0]).astype(int)
df['living_room'] = df['celly'].apply(lambda x: x.split('+')[1]).astype(int)

In [20]:
print(df['room'].unique())
print(df['living_room'].unique())

[ 1  3  2  4  5  6  7 21  9  8 41 31 25 14 10]
[ 1  2  0  4 15 25  3  5  9  6]

In [21]:
drop_columns(df, ['celly'])

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 2          8136 non-null   object
 2   celly 3          8136 non-null   object
 3   celly 4          6858 non-null   object
 4   city             8136 non-null   object
 5   district         8136 non-null   object
 6   neighborhood     8136 non-null   object
 7   room             8136 non-null   int64
 8   living_room      8136 non-null   int64
dtypes: int64(2), object(7)
memory usage: 572.2+ KB
None

In [23]:
print(df['celly 2'].unique())

['55 m¬≤' '150 m¬≤' '60 m¬≤' '160 m¬≤' '135 m¬≤' '67 m¬≤' '140 m¬≤' '170 m¬≤'
 '130 m¬≤' '230 m¬≤' '220 m¬≤' '210 m¬≤' '89 m¬≤' '120 m¬≤' '200 m¬≤' '355 m¬≤'
 '75 m¬≤' '110 m¬≤' '100 m¬≤' '65 m¬≤' '145 m¬≤' '115 m¬≤' '1.000 m¬≤' '250 m¬≤'
 '105 m¬≤' '50 m¬≤' '87 m¬≤' '90 m¬≤' '85 m¬≤' '155 m¬≤' '275 m¬≤' '240 m¬≤'
 '95 m¬≤' '174 m¬≤' '80 m¬≤' '125 m¬≤' '180 m¬≤' '165 m¬≤' '350 m¬≤' '97 m¬≤'
 '45 m¬≤' '300 m¬≤' '84 m¬≤' '42 m¬≤' '98 m¬≤' '86 m¬≤' '500 m¬≤' '70 m¬≤' '51 m¬≤'
 '73 m¬≤' '132 m¬≤' '325 m¬≤' '141 m¬≤' '450 m¬≤' '600 m¬≤' '47 m¬≤' '72 m¬≤'
 '71 m¬≤' '3.000 m¬≤' '175 m¬≤' '320 m¬≤' '280 m¬≤' '156 m¬≤' '190 m¬≤' '78 m¬≤'
 '162 m¬≤' '185 m¬≤' '18 m¬≤' '330 m¬≤' '151 m¬≤' '56 m¬≤' '136 m¬≤' '131 m¬≤'
 '48 m¬≤' '580 m¬≤' '119 m¬≤' '147 m¬≤' '77 m¬≤' '245 m¬≤' '35 m¬≤' '375 m¬≤'
 '146 m¬≤' '161 m¬≤' '163 m¬≤' '149 m¬≤' '206 m¬≤' '138 m¬≤' '93 m¬≤' '63 m¬≤'
 '41 m¬≤' '183 m¬≤' '96 m¬≤' '108 m¬≤' '76 m¬≤' '475 m¬≤' '359 m¬≤' '124 m¬≤'
 '91 m¬≤' '194 m¬≤' '43 m¬≤' '4.500 m¬≤' '68 m¬≤' '205 m¬≤' '20 m¬≤' '103 m¬≤'
 '53 m¬≤' '270 m¬≤' '58 m¬≤' '302 m¬≤' '505 m¬≤' '800 m¬≤' '168 m¬≤' '154 m¬≤'
 '368 m¬≤' '178 m¬≤' '40 m¬≤' '750 m¬≤' '92 m¬≤' '181 m¬≤' '400 m¬≤' '30 m¬≤'
 '260 m¬≤' '460 m¬≤' '390 m¬≤' '64 m¬≤' '360 m¬≤' '340 m¬≤' '550 m¬≤' '38 m¬≤'
 '121 m¬≤' '4.000 m¬≤' '295 m¬≤' '112 m¬≤' '137 m¬≤' '22 m¬≤' '128 m¬≤'
 '3.200 m¬≤' '440 m¬≤' '122 m¬≤' '370 m¬≤' '380 m¬≤' '204 m¬≤' '148 m¬≤' '142 m¬≤'
 '520 m¬≤' '166 m¬≤' '870 m¬≤' '143 m¬≤' '57 m¬≤' '286 m¬≤' '81 m¬≤' '116 m¬≤'
 '209 m¬≤' '59 m¬≤' '106 m¬≤' '74 m¬≤' '1.301 m¬≤' '52 m¬≤' '167 m¬≤' '217 m¬≤'
 '25 m¬≤' '290 m¬≤' '196 m¬≤' '184 m¬≤' '159 m¬≤' '195 m¬≤' '640 m¬≤' '285 m¬≤'
 '235 m¬≤' '337 m¬≤' '211 m¬≤' '134 m¬≤' '832 m¬≤' '152 m¬≤' '88 m¬≤' '213 m¬≤'
 '126 m¬≤' '255 m¬≤' '199 m¬≤' '127 m¬≤' '11 m¬≤' '66 m¬≤' '399 m¬≤' '187 m¬≤'
 '341 m¬≤' '745 m¬≤' '118 m¬≤' '144 m¬≤' '15 m¬≤' '535 m¬≤' '5.500 m¬≤' '114 m¬≤'
 '208 m¬≤' '94 m¬≤' '46 m¬≤' '173 m¬≤' '900 m¬≤' '225 m¬≤' '402 m¬≤' '111 m¬≤'
 '193 m¬≤' '1.100 m¬≤' '212 m¬≤' '102 m¬≤' '177 m¬≤' '101 m¬≤' '164 m¬≤' '158 m¬≤'
 '62 m¬≤' '172 m¬≤' '9.000 m¬≤' '21 m¬≤' '117 m¬≤' '82 m¬≤' '49 m¬≤' '176 m¬≤'
 '182 m¬≤' '981 m¬≤' '256 m¬≤' '32 m¬≤' '3.510 m¬≤' '215 m¬≤' '1.057 m¬≤'
 '171 m¬≤' '79 m¬≤' '169 m¬≤' '28 m¬≤' '104 m¬≤' '201 m¬≤' '310 m¬≤' '1.150 m¬≤'
 '2.000 m¬≤' '228 m¬≤' '700 m¬≤' '349 m¬≤' '203 m¬≤' '510 m¬≤' '31 m¬≤' '33 m¬≤'
 '950 m¬≤' '650 m¬≤' '252 m¬≤' '493 m¬≤' '265 m¬≤' '1.400 m¬≤' '5 m¬≤' '113 m¬≤'
 '36 m¬≤' '317 m¬≤' '850 m¬≤' '249 m¬≤' '109 m¬≤' '420 m¬≤' '995 m¬≤' '545 m¬≤'
 '192 m¬≤' '1.250 m¬≤' '490 m¬≤' '760 m¬≤' '157 m¬≤' '54 m¬≤' '405 m¬≤' '99 m¬≤']

In [24]:
df['celly 2'] = df['celly 2'].apply(lambda x: x.replace('.', ''))
df['area'] = df['celly 2'].apply(lambda x: x.split(' ')[0]).astype(int)

In [25]:
print(df['area'].unique())

[  55  150   60  160  135   67  140  170  130  230  220  210   89  120
  200  355   75  110  100   65  145  115 1000  250  105   50   87   90
   85  155  275  240   95  174   80  125  180  165  350   97   45  300
   84   42   98   86  500   70   51   73  132  325  141  450  600   47
   72   71 3000  175  320  280  156  190   78  162  185   18  330  151
   56  136  131   48  580  119  147   77  245   35  375  146  161  163
  149  206  138   93   63   41  183   96  108   76  475  359  124   91
  194   43 4500   68  205   20  103   53  270   58  302  505  800  168
  154  368  178   40  750   92  181  400   30  260  460  390   64  360
  340  550   38  121 4000  295  112  137   22  128 3200  440  122  370
  380  204  148  142  520  166  870  143   57  286   81  116  209   59
  106   74 1301   52  167  217   25  290  196  184  159  195  640  285
  235  337  211  134  832  152   88  213  126  255  199  127   11   66
  399  187  341  745  118  144   15  535 5500  114  208   94   46  173
  900  225  402  111  193 1100  212  102  177  101  164  158   62  172
 9000   21  117   82   49  176  182  981  256   32 3510  215 1057  171
   79  169   28  104  201  310 1150 2000  228  700  349  203  510   31
   33  950  650  252  493  265 1400    5  113   36  317  850  249  109
  420  995  545  192 1250  490  760  157   54  405   99]

In [26]:
drop_columns(df, ['celly 2'])

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 3          8136 non-null   object
 2   celly 4          6858 non-null   object
 3   city             8136 non-null   object
 4   district         8136 non-null   object
 5   neighborhood     8136 non-null   object
 6   room             8136 non-null   int64
 7   living_room      8136 non-null   int64
 8   area             8136 non-null   int64
dtypes: int64(3), object(6)
memory usage: 572.2+ KB
None

In [28]:
print(df['celly 3'].unique())

['25\n                      Ya≈üƒ±nda' '35\n                      Ya≈üƒ±nda'
 '2\n                      Ya≈üƒ±nda' '27\n                      Ya≈üƒ±nda'
 '15\n                      Ya≈üƒ±nda' '10\n                      Ya≈üƒ±nda'
 '20\n                      Ya≈üƒ±nda' '30\n                      Ya≈üƒ±nda'
 '16\n                      Ya≈üƒ±nda' '11\n                      Ya≈üƒ±nda'
 '31\n                      Ya≈üƒ±nda' 'Sƒ±fƒ±r Bina'
 '5\n                      Ya≈üƒ±nda' '26\n                      Ya≈üƒ±nda'
 '12\n                      Ya≈üƒ±nda' '4\n                      Ya≈üƒ±nda'
 '6\n                      Ya≈üƒ±nda' '22\n                      Ya≈üƒ±nda'
 '23\n                      Ya≈üƒ±nda' '29\n                      Ya≈üƒ±nda'
 '3\n                      Ya≈üƒ±nda' '8\n                      Ya≈üƒ±nda'
 '33\n                      Ya≈üƒ±nda' '50\n                      Ya≈üƒ±nda'
 '7\n                      Ya≈üƒ±nda' '18\n                      Ya≈üƒ±nda'
 '32\n                      Ya≈üƒ±nda' '28\n                      Ya≈üƒ±nda'
 '14\n                      Ya≈üƒ±nda' '40\n                      Ya≈üƒ±nda'
 '9\n                      Ya≈üƒ±nda' '21\n                      Ya≈üƒ±nda'
 '45\n                      Ya≈üƒ±nda' '38\n                      Ya≈üƒ±nda'
 '19\n                      Ya≈üƒ±nda' '24\n                      Ya≈üƒ±nda'
 '17\n                      Ya≈üƒ±nda' '1\n                      Ya≈üƒ±nda'
 '36\n                      Ya≈üƒ±nda' '34\n                      Ya≈üƒ±nda'
 '13\n                      Ya≈üƒ±nda' '42\n                      Ya≈üƒ±nda'
 '44\n                      Ya≈üƒ±nda' '43\n                      Ya≈üƒ±nda'
 '37\n                      Ya≈üƒ±nda' '55\n                      Ya≈üƒ±nda'
 '47\n                      Ya≈üƒ±nda' '39\n                      Ya≈üƒ±nda'
 '49\n                      Ya≈üƒ±nda' '52\n                      Ya≈üƒ±nda'
 '300\n                      Ya≈üƒ±nda' '199\n                      Ya≈üƒ±nda'
 '48\n                      Ya≈üƒ±nda' '60\n                      Ya≈üƒ±nda'
 '61\n                      Ya≈üƒ±nda' '600\n                      Ya≈üƒ±nda'
 '100\n                      Ya≈üƒ±nda']

In [29]:
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('Sƒ±fƒ±r Bina', '0 Ya≈üƒ±nda'))
df['celly 3'] = df['celly 3'].apply(lambda x: x.replace('\n', ' '))
df['age'] = df['celly 3'].apply(lambda x: x.split(' ')[0]).astype(int)

In [30]:
print(df['age'].unique())

[ 25  35   2  27  15  10  20  30  16  11  31   0   5  26  12   4   6  22
  23  29   3   8  33  50   7  18  32  28  14  40   9  21  45  38  19  24
  17   1  36  34  13  42  44  43  37  55  47  39  49  52 300 199  48  60
  61 600 100]

In [31]:
drop_columns(df, ['celly 3'])

In [32]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly 4          6858 non-null   object
 2   city             8136 non-null   object
 3   district         8136 non-null   object
 4   neighborhood     8136 non-null   object
 5   room             8136 non-null   int64
 6   living_room      8136 non-null   int64
 7   area             8136 non-null   int64
 8   age              8136 non-null   int64
dtypes: int64(4), object(5)
memory usage: 572.2+ KB
None

In [33]:
print(df['celly 4'].unique())

['Y√ºksek Giri≈ü' '3. Kat' 'Ara Kat' '4. Kat' '2. Kat' 'Zemin' nan
 'Tripleks' 'Villa Katƒ±' 'Bah√ße Katƒ±' '1. Kat' '8. Kat' '6. Kat'
 'Giri≈ü Katƒ±' '5. Kat' '7. Kat' '21 ve √ºzeri' 'En √úst Kat' 'Teras Katƒ±'
 '13. Kat' 'Kot 1' '9. Kat' '√áatƒ± Katƒ±' '10. Kat' '12. Kat' 'Kot 2'
 '15. Kat' 'Bodrum ve Zemin' '11. Kat' 'Kot 3' '18. Kat' '20. Kat'
 'Yarƒ± Bodrum' '14. Kat' '16. Kat' '17. Kat' 'Asma Kat' 'Bodrum' '19. Kat']

In [35]:
replace_dict = {
    'nan': '2. Kat',
    'Kot 2': '-2. Kat',
    'Kot 1': '-1. Kat',
    'Y√ºksek Giri≈ü': '1. Kat',
    'Ara Kat': '3. Kat',
    'En √úst Kat': '5. Kat',
    'Bah√ße Katƒ±': '0. Kat',
    'Yarƒ± Bodrum': '0. Kat',
    'Bodrum': '0. Kat',
    'Kot 3': '-3. Kat',
    '√áatƒ± Katƒ±': '5. Kat',
    'Zemin': '0. Kat',
    'Giri≈ü Katƒ±': '0. Kat',
    'Villa Katƒ±': '0. Kat',
    '21 ve √ºzeri': '21. Kat',
    'Bodrum ve Zemin': '0. Kat',
    'Asma Kat': '1. Kat',
    'Tripleks': '0. Kat',
    'Teras Katƒ±': '5. Kat',
}
df['celly 4'] = df['celly 4'].replace(replace_dict.keys(), replace_dict.values()).astype(str)
df['celly 4'].dropna(inplace=True)
df['floor'] = df['celly 4'].apply(lambda x: x.split('.')[0]).astype(int)

In [36]:
print(df['floor'].unique())

[ 1  3  4  2  0  8  6  5  7 21 13 -1  9 10 12 -2 15 11 -3 18 20 14 16 17
 19]

In [37]:
drop_columns(df, ['celly 4'])

In [38]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   city             8136 non-null   object
 2   district         8136 non-null   object
 3   neighborhood     8136 non-null   object
 4   room             8136 non-null   int64
 5   living_room      8136 non-null   int64
 6   area             8136 non-null   int64
 7   age              8136 non-null   int64
 8   floor            8136 non-null   int64
dtypes: int64(5), object(4)
memory usage: 572.2+ KB
None

In [39]:
print(df['list-view-price'].unique())

['12.000' '16.000' '200' '18.000' '45.000' '35.000' '25.000' '22.000'
 '15.000' '24.000' '240.000' '1.200.000' '30.000' '20.000' '180.000'
 '60.000' '10.500' '10.000' '55.000' '13.000' '12.500' '21.000' '250.000'
 '190.000' '42.500' '17.000' '11.000' '450.000' '27.500' '80.000' '23.000'
 '550.000' '19.750' '75.000' '50.000' '34.000' '19.500' '28.500' '24.500'
 '325.000' '28.000' '29.000' '750.000' '600.000' '16.750' '500.000'
 '14.000' '220.000' '19.000' '21.500' '350.000' '9.000' '14.500' '25.500'
 '18.500' '300.000' '480.000' '150.000' '5.000' '16.500' '525.000'
 '370.000' '13.750' '17.500' '27.000' '11.500' '200.000' '90.000' '64.000'
 '15.750' '118.000' '1.000.000' '400.000' '70.000' '13.500' '210.000'
 '38.000' '1.800.000' '31.500' '57.500' '49.900' '2.000' '4.875.000'
 '8.500' '700.000' '15.250' '7.000' '40.000' '18.750' '22.500' '1.250.000'
 '3.500' '32.000' '104.000' '1.600.000' '120.000' '20.500' '650.000'
 '65.000' '48.000' '850.000' '17.250' '48.500' '100.000' '22.500.000'
 '115.000' '57.000' '53.000' '66.000' '12.950' '62.000' '265.000' '18.250'
 '185.000' '41.000' '110.000' '26.900' '17.750' '62.500' '130.000' '7.500'
 '33.000' '29.999' '14.750' '37.000' '16.200' '275.000' '26.000' '8.000'
 '375.000' '8.250' '39.500' '98.500' '46.000' '28.900' '9.250' '58.000'
 '15.900' '10.757' '85.000' '10.750' '1.400.000' '175.000' '460.000'
 '29.500' '13.250' '20.999' '31.000' '9.500' '15.500' '56.000' '14.700'
 '269.900' '14.100' '530.000' '16.250' '49.000' '36.500' '225.000' '6.500'
 '17.950' '10.900' '8.750' '620.000' '140.000' '9.750' '125.000' '24.750'
 '2.550.000' '1.000' '6.000' '95.000' '37.500' '7.250' '43.000' '5.500'
 '83.000' '380.000' '280.000' '350' '4.500' '800.000' '39.000' '21.750'
 '235.000' '96.000' '1.100.000' '425.000' '52.500' '19.360' '4.000'
 '9.800' '680.000' '15.590.000' '34.500' '170.000' '26.500' '18.450'
 '1.650.000' '23.500' '365.000' '36.000' '10.400' '10.999' '160.000'
 '7.950' '785.000' '2.250.000' '260.000' '13.900.000' '165.000' '2.500'
 '290.000' '300' '475.000' '9.999' '9.200' '330.000' '2.265.000' '590.000'
 '23' '29.750' '14.250' '1.050.000' '1.750.000' '415.000' '430.000'
 '11.111' '720.000' '625.000' '1.350.000' '15.950' '14.999' '195.000'
 '8.000.000' '1.025.000' '67.000' '900.000' '1.500' '14.990' '950.000'
 '270.000' '3.000' '10.800' '13.950' '780.000' '320.000' '1.250' '63.000'
 '1.200' '675.000' '8.950' '760.000' '420.000' '13' '67.500' '12' '26.750'
 '4.950' '440.000' '15' '390.000' '1.725.000' '7.800' '7.750' '12.750'
 '16.500.000' '11.250' '7.900' '12.850' '11.750' 7.5 4.5 10.0 8.0 19.0 6.5
 18.5 9.5 7.0 12.0 6.0 8.5 15.0 9.0 7.75 6.75 16.5 20.0 22.0 7.25 21.0
 14.0 '4.250' '5.250' '6.750' '6.600' '5.100' '5.600' '9.850' '26.000.000'
 '3.400' '14.300' '8.700' '9.950.000' '120.000.000' '111' '11' '890.000'
 '42.000' '4.650.000' '1.700' '8.550' '8.900' '7.200' '3.500.000' '11.900'
 '1.190.000' '1.840.000' '6.250' '8.100' '750' '7.999' '3.999' '6.900'
 '5.750' '7.400' '6.999' '1.850.000' '7.100' '6.800' '5.700' '9.900'
 '4.999' '4.750' '5.999' '8.400' '8.300' '44.000' '740.000' '2.500.000'
 '360.000' '105.000' '355.000' '255.000' '72.000' '1' '485.000' '285.000'
 '59.500' '245.000' '4.050.000' '135.000' '32.500' '510.000' '1.225.000'
 '3.900.000' '3.250' '30.000.000' '39.900' '243.000' '2.300.000'
 '25.000.000' '49.950' '73.000' '840.000' '2.275.000' '410.000' '310.000'
 '7.300' '32.750' '3.750' '3.000.000' '1.700.000' '1.150.000' '2.750'
 '4.100' '16.350' '17.000.000' '921.180' '145.000' '41.600' '495.000'
 '65.500' '2.250' '595.000' '19.800' '54.000' '50.000.000' '48.000.000'
 '465.000' '860.000' '630.000' '995.000' '241.800' '340.000' '4.450.000'
 '6.500.000' '2.175.000' '2.000.000' '2.200.000' '6.150.000' '16.400'
 '295.000' '1.070.000' '87.000' '1.750' '875.000' '560.000' '3.250.000'
 '790.000']

In [40]:
df['list-view-price'] = df['list-view-price'].astype(str).apply(lambda x: x.replace('.', ''))
df['price'] = df['list-view-price'].astype(int)

In [41]:
print(df['price'].unique())

[    12000     16000       200     18000     45000     35000     25000
     22000     15000     24000    240000   1200000     30000     20000
    180000     60000     10500     10000     55000     13000     12500
     21000    250000    190000     42500     17000     11000    450000
     27500     80000     23000    550000     19750     75000     50000
     34000     19500     28500     24500    325000     28000     29000
    750000    600000     16750    500000     14000    220000     19000
     21500    350000      9000     14500     25500     18500    300000
    480000    150000      5000     16500    525000    370000     13750
     17500     27000     11500    200000     90000     64000     15750
    118000   1000000    400000     70000     13500    210000     38000
   1800000     31500     57500     49900      2000   4875000      8500
    700000     15250      7000     40000     18750     22500   1250000
      3500     32000    104000   1600000    120000     20500    650000
     65000     48000    850000     17250     48500    100000  22500000
    115000     57000     53000     66000     12950     62000    265000
     18250    185000     41000    110000     26900     17750     62500
    130000      7500     33000     29999     14750     37000     16200
    275000     26000      8000    375000      8250     39500     98500
     46000     28900      9250     58000     15900     10757     85000
     10750   1400000    175000    460000     29500     13250     20999
     31000      9500     15500     56000     14700    269900     14100
    530000     16250     49000     36500    225000      6500     17950
     10900      8750    620000    140000      9750    125000     24750
   2550000      1000      6000     95000     37500      7250     43000
      5500     83000    380000    280000       350      4500    800000
     39000     21750    235000     96000   1100000    425000     52500
     19360      4000      9800    680000  15590000     34500    170000
     26500     18450   1650000     23500    365000     36000     10400
     10999    160000      7950    785000   2250000    260000  13900000
    165000      2500    290000       300    475000      9999      9200
    330000   2265000    590000        23     29750     14250   1050000
   1750000    415000    430000     11111    720000    625000   1350000
     15950     14999    195000   8000000   1025000     67000    900000
      1500     14990    950000    270000      3000     10800     13950
    780000    320000      1250     63000      1200    675000      8950
    760000    420000        13     67500        12     26750      4950
    440000        15    390000   1725000      7800      7750     12750
  16500000     11250      7900     12850     11750        75        45
       100        80       190        65       185        95        70
       120        60        85       150        90       775       675
       165       220       725       210       140      4250      5250
      6750      6600      5100      5600      9850  26000000      3400
     14300      8700   9950000 120000000       111        11    890000
     42000   4650000      1700      8550      8900      7200   3500000
     11900   1190000   1840000      6250      8100       750      7999
      3999      6900      5750      7400      6999   1850000      7100
      6800      5700      9900      4999      4750      5999      8400
      8300     44000    740000   2500000    360000    105000    355000
    255000     72000         1    485000    285000     59500    245000
   4050000    135000     32500    510000   1225000   3900000      3250
  30000000     39900    243000   2300000  25000000     49950     73000
    840000   2275000    410000    310000      7300     32750      3750
   3000000   1700000   1150000      2750      4100     16350  17000000
    921180    145000     41600    495000     65500      2250    595000
     19800     54000  50000000  48000000    465000    860000    630000
    995000    241800    340000   4450000   6500000   2175000   2000000
   2200000   6150000     16400    295000   1070000     87000      1750
    875000    560000   3250000    790000]

In [42]:
drop_columns(df, ['list-view-price'])

In [43]:
print(df.columns)

Index(['city', 'district', 'neighborhood', 'room', 'living_room', 'area',
       'age', 'floor', 'price'],
      dtype='object')

In [44]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   object
 1   district      8136 non-null   object
 2   neighborhood  8136 non-null   object
 3   room          8136 non-null   int64
 4   living_room   8136 non-null   int64
 5   area          8136 non-null   int64
 6   age           8136 non-null   int64
 7   floor         8136 non-null   int64
 8   price         8136 non-null   int64
dtypes: int64(6), object(3)
memory usage: 572.2+ KB
None

In [45]:
# Exporting data to data.csv file
df.to_csv('data.csv', index=False)

## Statistical analysis of data and elimination of outliers

In [46]:
df = pd.read_csv('data.csv')

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   object
 1   district      8136 non-null   object
 2   neighborhood  8136 non-null   object
 3   room          8136 non-null   int64
 4   living_room   8136 non-null   int64
 5   area          8136 non-null   int64
 6   age           8136 non-null   int64
 7   floor         8136 non-null   int64
 8   price         8136 non-null   int64
dtypes: int64(6), object(3)
memory usage: 572.2+ KB
None

In [48]:
df['city'] = df['city'].astype('category')
df['district'] = df['district'].astype('category')
df['neighborhood'] = df['neighborhood'].astype('category')
df['room'] = df['room'].astype('int')
df['living_room'] = df['living_room'].astype('int')
df['area'] = df['area'].astype('int')
df['age'] = df['age'].astype('int')
df['floor'] = df['floor'].astype('int')
df['price'] = df['price'].astype('int')

In [49]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          8136 non-null   category
 1   district      8136 non-null   category
 2   neighborhood  8136 non-null   category
 3   room          8136 non-null   int64
 4   living_room   8136 non-null   int64
 5   area          8136 non-null   int64
 6   age           8136 non-null   int64
 7   floor         8136 non-null   int64
 8   price         8136 non-null   int64
dtypes: category(3), int64(6)
memory usage: 438.2 KB
None

Finding minimum, maximum and quartile values of numerical variables

In [50]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    min_value = Q1 - 1.5 * IQR
    max_value = Q3 + 1.5 * IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"Column: {column}, min: {min_value}, max: {max_value}")

Column: room, min: 0.5, max: 4.5
Column: living_room, min: 1.0, max: 1.0
Column: area, min: -17.5, max: 242.5
Column: age, min: -20.0, max: 44.0
Column: floor, min: -2.0, max: 6.0
Column: price, min: -18000.0, max: 62000.0

elimination of outliers

In [51]:
for i, column in enumerate(columns):
    df = df[(df[column] >= min_values[i]) & (df[column] <= max_values[i])]

In [52]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6212 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          6212 non-null   category
 1   district      6212 non-null   category
 2   neighborhood  6212 non-null   category
 3   room          6212 non-null   int64
 4   living_room   6212 non-null   int64
 5   area          6212 non-null   int64
 6   age           6212 non-null   int64
 7   floor         6212 non-null   int64
 8   price         6212 non-null   int64
dtypes: category(3), int64(6)
memory usage: 388.9 KB
None

In [53]:
print(df.describe())

              room  living_room         area          age        floor  \
count  6212.000000       6212.0  6212.000000  6212.000000  6212.000000
mean      2.176272          1.0   104.669350    12.653896     2.199614
std       0.826815          0.0    39.442494    10.451565     1.589618
min       1.000000          1.0     5.000000     0.000000    -2.000000
25%       2.000000          1.0    75.000000     4.000000     1.000000
50%       2.000000          1.0   100.000000    10.000000     2.000000
75%       3.000000          1.0   130.000000    20.000000     3.000000
max       4.000000          1.0   240.000000    44.000000     6.000000

              price
count   6212.000000
mean   17900.975853
std    10467.582893
min        1.000000
25%    11000.000000
50%    15000.000000
75%    21000.000000
max    60000.000000

Manual correction for rental price

In [54]:
df = df[df['price'] >= 3000]

In [55]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6116 entries, 0 to 8135
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          6116 non-null   category
 1   district      6116 non-null   category
 2   neighborhood  6116 non-null   category
 3   room          6116 non-null   int64
 4   living_room   6116 non-null   int64
 5   area          6116 non-null   int64
 6   age           6116 non-null   int64
 7   floor         6116 non-null   int64
 8   price         6116 non-null   int64
dtypes: category(3), int64(6)
memory usage: 383.3 KB
None

In [56]:
print(df.describe())

              room  living_room         area          age        floor  \
count  6116.000000       6116.0  6116.000000  6116.000000  6116.000000
mean      2.180020          1.0   104.830445    12.698169     2.198496
std       0.826463          0.0    39.467687    10.465384     1.589161
min       1.000000          1.0     5.000000     0.000000    -2.000000
25%       2.000000          1.0    75.000000     4.000000     1.000000
50%       2.000000          1.0   100.000000    10.000000     2.000000
75%       3.000000          1.0   130.000000    20.000000     3.000000
max       4.000000          1.0   240.000000    44.000000     6.000000

              price
count   6116.000000
mean   18170.733976
std    10323.229150
min     3000.000000
25%    11500.000000
50%    15000.000000
75%    21000.000000
max    60000.000000

In [57]:
# Exporting cleaned data to data_cleaned.csv file
df.to_csv('data_cleaned.csv', index=False)